<!DOCTYPE html>
<html>
<head>
    <title>Host Monitoring Station</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }
        div {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center">Host Monitoring Station</h1>
    <h2 style="text-align:center">{{ hostname }}</h2>
    <hr>
    <h2 style="text-align:center">OS Running Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + os_loadavg)}}" alt="loadavg">
        <img src="{{url_for('static', filename='rrd_graph/' + os_fd)}}" alt="fd">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + os_procs)}}" alt="procs">
        <img src="{{url_for('static', filename='rrd_graph/' + os_context_switch)}}" alt="context_switch">
    </div>
    <hr>
    <h2 style="text-align:center">CPU Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + cpu_cpu_freq)}}" alt="cpu_freq">
    </div>
    <hr>
    <h2 style="text-align:center">Memory Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + memory_memory)}}" alt="memory">
        <img src="{{url_for('static', filename='rrd_graph/' + memory_swap)}}" alt="swap">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + memory_virtual)}}" alt="virtual">
    </div>
    <hr>
    <h2 style="text-align:center">Disk Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + disk_read_io)}}" alt="read_io">
        <img src="{{url_for('static', filename='rrd_graph/' + disk_write_io)}}" alt="write_io">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + disk_read_sector)}}" alt="read_sector">
        <img src="{{url_for('static', filename='rrd_graph/' + disk_write_sector)}}" alt="write_sector">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + disk_read_merge)}}" alt="read_merge">
        <img src="{{url_for('static', filename='rrd_graph/' + disk_write_merge)}}" alt="write_merge">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + disk_in_flight)}}" alt="in_flight">
    </div>
    <hr>
    <h2 style="text-align:center">Network Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + network_rx_bytes)}}" alt="rx_bytes">
        <img src="{{url_for('static', filename='rrd_graph/' + network_tx_bytes)}}" alt="tx_bytes">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + network_rx_dropped)}}" alt="rx_dropped">
        <img src="{{url_for('static', filename='rrd_graph/' + network_tx_dropped)}}" alt="tx_dropped">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + network_rx_errors)}}" alt="rx_errors">
        <img src="{{url_for('static', filename='rrd_graph/' + network_tx_errors)}}" alt="tx_errors">
    </div>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + network_collisions)}}" alt="collisions">
    </div>
    <hr>
    <h2 style="text-align:center">TCP Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + tcp_tcp)}}" alt="tcp_tcp">
        <img src="{{url_for('static', filename='rrd_graph/' + tcp_tcp6)}}" alt="tcp_tcp6">
    </div>
    <hr>
    <h2 style="text-align:center">UDP Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + udp_udp)}}" alt="udp_udp">
    </div>
    <hr>
    <h2 style="text-align:center">ARP Metrics</h2>
    <div>
        <img src="{{url_for('static', filename='rrd_graph/' + arp_arp)}}" alt="arp_arp">
    </div>
    <hr>
</body>
</html>
